<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/resgistroK.css">
    <link rel="shortout icon" href="/static/img/fon.png">
    <title>Registro</title>
  </head>

  <body>
    <img src="/static/img/logo.png" class="logo" alt="logo Image">
    <form class="form" action="{% url 'create_regis' %}" method="POST" class="form">
      <h2 class="form__titleRegistro" id="registro">Registrarse</h2>
      <section class="form__link" id="registro"></section>
      {% csrf_token %}
      <div class="form__container">
        <div class="form__group">
          <input type="text" id="name" name="name" class="form__input" placeholder=" " />
          <label for="name" class="form__label">Nombre:</label>
          <span class="form__line"></span>
        </div>

        <div class="form__group">
          <input type="text" id="email" name="email" class="form__input" placeholder=" " />
          <label for="user" class="form__label">Correo Electronico:</label>
          <span class="form__line"></span>
        </div>
        <div class="form__group">
          <input type="text" id="cell" name="phone" class="form__input" placeholder=" " />
          <label for="user" class="form__label">Celular:</label>
          <span class="form__line"></span>
        </div>
        <div class="form__group">
          <input type="text" id="address"name="address" class="form__input" placeholder=" " />
          <label for="user" class="form__label">Direccion:</label>
          <span class="form__line"></span>
        </div>

        <div class="form__group">
          <input type="text" id="user" name="user" class="form__input" placeholder=" " />
          <label for="user" class="form__label">Usuario:</label>
          <span class="form__line"></span>
        </div>

        <div class="form__group">
          <input type="password" id="password" name="password"  class="form__input" placeholder=" "/>
          <label for="password" class="form__label">Contraseña:</label>
          <span class="form__line"></span>
        </div>
        
        <button>Save</button> 
      </div>
    </form>
  </body>
</html>
