{% load static %}
<!DOCTYPE html>
<html lang="esp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'reserva.css'%}" />
    <link rel="shortout icon" href="{%static '/img/fon.png'%}" />
    <title>CINE-STAR</title>
  </head>

  <body>
    <header>
      <div class="contenedor">
        <img
          src="{%static '/img/logo2.png'%}"
          alt="logo"
          width="150px"
          height="120px"
        />
        <h2 class="logotipo">CINE-STAR</h2>
        <nav>
          <a href="#" class="activo"></a>
          <a href="#">Mi perfil</a>
          <a href="/CINE-STAR/index/">Inicio</a>
        </nav>
      </div>
      <main>
        <div>
          {% for ticket in reservation %}
          <h4>{{ticket.Nombre}}</h4>
          <p>{{ticket.language_movie}}</p>
          <p>{{ticket.duration}}</p>
          <p>{{ticket.seating}}</p>
          <p>{{ticket.location}}</p>
          <form action="{%url 'delete_Tickets' ticket.id%}" method="DELETE">
            {%csrf_token%}
            <button>Delete</button>
          </form>
          {%empty%}
          <h1>No hay registros</h1>
          {% endfor %}
        </div>
        <footer class="pie-pagina">
          <div class="grupo-1">
            <div class="box">
              <figure>
                <a href="#">
                  <img
                    src="{%static '/img/Cine.png'%}"
                    alt="Logo de CINE-STAR"
                  />
                </a>
              </figure>
            </div>
            <div class="box">
              <h2>Saber mas sobre nosotros</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                reiciendis
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                reiciendis
              </p>
            </div>
            <div class="box">
              <h2>SIGUENOS EN:</h2>
              <div class="red-social">
                <a herf="" class="fa fa-facebook"></a>
                <a herf="" class="fa fa-youtube"></a>
                <a herf="" class="fa fa-instagram"></a>
                <a herf="" class="fa fa-twitter"></a>
              </div>
            </div>
          </div>
          <div class="grupo-2">
            <small
              >&copy; 2022 <b>CINE-STAR</b> - Todos los derechos reservados
            </small>
          </div>
        </footer>
      </main>
      <script
        src="https://kit.fontawesome.com/2c36e9b7b1.js"
        crossorigin="anonymous"
      ></script>
      <script src="js/main.js"></script>
    </header>
  </body>
</html>
